app/data/models filter=lfs diff=lfs merge=lfs -text
BiasBuster_back/app/data/models/political_bias_model/checkpoint-1689/optimizer.pt filter=lfs diff=lfs merge=lfs -text
BiasBuster_back/app/data/models/political_bias_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
